<section appScrollReveal>
  <h1 class="reveal text-5xl md:text-6xl font-extralight my-20 text-[#dedede]">
    I believe in a user centered design approach, ensuring that every project I
    work on is tailored to meet the specific needs of its users.
  </h1>

  <h5 class="reveal border-b py-4">This is me.</h5>
  <section class="flex flex-col gap-4 md:grid md:grid-cols-5 justify-between my-10">
    <h2 class="reveal col-span-2 text-3xl font-semibold ">Hi, I'm Mahmoud Elwakeel.</h2>
    <p class="reveal col-span-2 text-lg text-[#b5b5b5]">
      I'm a frontend web developer dedicated to turning ideas into creative
      solutions. <br /> <br /> I specialize in creating seamless and intuitive user
      experiences. My approach focuses on creating scalable, high-performing
      solutions tailored to both user needs and business objectives. By
      prioritizing performance, accessibility, and responsiveness, I strive to
      deliver experiences that not only engage users but also drive tangible
      results.
    </p>
    <span class="col-span-1"></span>
  </section>
</section>
