<div class="flex flex-col h-[100dvh] w-full relative">
  <div class="w-full h-[0.7rem] shrink-0 bg-[#00f050]"></div>

  <section class="py-7 flex flex-col flex-1">
    <div class="header shrink-0 flex flex-col gap-2 w-full px-10">
      <div class="w-9 border-b-2 border-white rounded-2xl ml-auto"></div>
      <div class="w-9 border-b-2 border-white rounded-2xl ml-auto"></div>
    </div>

    <div
      class="text-white flex flex-col flex-1 justify-between items-center px-4"
    >
      <div
        style="writing-mode: vertical-rl"
        class="hidden md:flex shrink-0 w-fit items-end col-span-1 ml-auto fixed left-[0] top-[50%] translate-y-[-50%, -50%] ml-3 text-[#b5b5b5] text-lg"
      >
        m.wakeeel.mo&#64;gmail.com
      </div>
      <div
        class="col-span-8 flex-1 mx-10 md:px-16 flex flex-col justify-center items-center h-full w-full"
      >
        <ng-content></ng-content>
      </div>
      <div
        appScrollIndicator
        class="fixed bg-[#303030] shrink-0 h-28 w-2 rounded-full col-span-1 ml-auto right-[0] top-[40%] translate-y-[-50%, -50%] mr-3"
      >
        <div class="fill bg-green-500 w-full h-0 rounded-full"></div>
      </div>
    </div>
  </section>
</div>
