<div appScrollReveal class="md:justify-between items-center md:h-[100dvh] md:pb-10 flex flex-col md:grid gap-5 md:grid-cols-8 mt-[-3rem]">
  <section class="col-span-4 p-5 mt-16">
    <h1 class=" anton reveal text-[5rem] md:text-[6rem] text-[#00f050]  leading-[6rem]">
      FRONTEND<br />
      <span class="anton reveal ml-[1rem] text-white">DEVELOPER</span>
    </h1>

    <p class="reveal text-[#b5b5b5] mt-10 text-lg font-semibold">
      Hi! I'm Mahmoud Elwakeel. A creative Frontend Developer with 2+ years of
      experience in building high-performance, scalable, and responsive web
      solutions using Angular, React, Vue, Next.js
    </p>

    <button
      class="anton transition-all duration-500 tracking-wider reveal bg-[#00f050] rounded-xl text-black p-4 mt-8 hover:bg-white"
    >
      <a class="anton" href="https://drive.google.com/file/d/1dqOLCXSmt_F9nICx3DCLxyog7NX9XjWe/view?usp=drivesdk">Download CV</a>
    </button>
  </section>

  <section
    class="text-center flex flex-col p-5  items-end gap-20 col-span-4 "
  >
    <div
      class="rounded-full w-60 h-60 border-2 border-[#00f050] overflow-hidden  hidden md:flex"
    >
      <img
        src="./assets/images/personal.jpg"
        alt="Profile"
        class="reveal w-full h-full object-cover"
      />
    </div>
    <div class="reveal flex  md:flex-col gap-7 ">
      <div class="flex flex-col text">
        <span class="anton text-[#00f050] text-4xl font-bold text-center md:text-right">2+</span>
        <span class=" text-[#b5b5b5] text-lg">Years of experience</span>
      </div>
      <div class="flex flex-col">
        <span class="anton text-[#00f050] text-4xl font-bold text-center md:text-right">7+</span>
        <span class=" text-[#b5b5b5] w-fit text-lg">Completed projects</span>
      </div>
    </div>
  </section>
</div>
