<section  class="flex flex-col gap-9 mt-[7rem]">
  <p class=" text-2xl flex gap-2 items-center">
    <i
      class="fa-solid fa-fan text-white animate-spin [animation-duration:3s]"
    ></i>
    <span>MY EXPERIENCE</span>
  </p>

  <section appScrollReveal class="flex flex-col gap-14">
    <section class="flex flex-col gap-3">
      <span class="reveal text-xl text-[#B5B5B5]"
        >Huawei Technologies Co. Ltd.</span
      >
      <h1 class="reveal text-4xl font-bold text-[#DEDEDE]">
        Software Engineer (Frontend)
      </h1>
      <span class="reveal text-xl text-[#B5B5B5]">June 2024 - Present </span>
    </section>
    <section class="flex flex-col gap-3">
      <span class="reveal text-xl text-[#B5B5B5]">Upwork</span>
      <h1 class="reveal text-4xl font-bold text-[#DEDEDE]">
        Frontend Developer (Freelancer)
      </h1>
      <span class="reveal text-xl text-[#B5B5B5]">Feb 2024 - Present </span>
    </section>
    <section class="flex flex-col gap-3">
      <span class="reveal text-xl text-[#B5B5B5]">EdgenAi</span>
      <h1 class="reveal text-4xl font-bold text-[#DEDEDE]">
        Frontend Developer (Intern)
      </h1>
      <span class="reveal text-xl text-[#B5B5B5]">Feb 2024 - May 2024 </span>
    </section>
  </section>
</section>
